/* You can add global styles to this file, and also import other style files */

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 86px;
}

body.main {
  background-color: #eeeeee;
}

/* 19d3da
    686d76 */
